$custom-button-width: 70px;

page-record-audio {

  .startButton, .stopButton, .playButton {
    width: $custom-button-width;
    height: $custom-button-width;
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .startButton {
    font-size: 35px;
  }

  .stopButton {
    font-size: 25px;
    background-color: #ff0033;

    &.active, &.activated {
      background-color: #cc0000;
    }
  }


  .playButton {
    font-size: 25px;
    background-color: #60ff33;

    &.active, &.activated {
      background-color: #30cc00;
    }
  }

  .time, .options {
    width: 100%;
    position: absolute;
  }

  .time {
    text-align: center;
    top: calc( 25% + #{$custom-button-width/2} + 1em);
  }

  .options {
    top: calc( 25% + #{$custom-button-width/2} + 50px);

    ion-item {
      margin-bottom: 10px;
    }
  }
}
